@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer utilities {
  .clip-circle {
    clip-path: circle(50%);
  }
} */

/* Tailwind CSS에 mask-image를 확장하는 방법 */
@layer utilities {
  .mask-circle {
    -webkit-mask-image: radial-gradient(circle, black 70%, transparent 100%);
    mask-image: radial-gradient(circle, black 70%, transparent 100%);
  }
}

@layer base {
  :root {
    font-size: 62.5%;
  }

  body {
    font-size: 1.6rem; /* 기본 폰트 크기 설정 */
    line-height: 1.2; /* 줄 높이 설정 */
  }

  body {
    @apply m-0;
  }

  li {
    @apply m-0 p-0 list-none;
  }

  li {
    @apply inline;
  }

  img {
    @apply max-w-full align-top;
  }

  button,
  input {
    all: unset;
  }

  button {
    @apply block;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"] {
    @apply block w-full h-[40px] px-[2px] box-border;
  }

  input[type="checkbox"] {
    @apply pointer-events-none absolute;
  }
}
