:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.2;
}

.li {
  margin: 0;
  padding: 0;
  display: inline;
}

img {
  max-width: 100%;
  vertical-align: top;
}

.inputUnset,
.textareaUnset {
  all: unset;
}

.textareaCustom {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 14px;
  box-sizing: border-box;
}

.checkboxCustom {
  position: absolute;
  pointer-events: none;
}

.inputCustom {
  display: block;
  width: 100%;
  height: 40px;
  padding: 0 2px;
  box-sizing: border-box;
}

.emUnset {
  font-style: normal;
}

.error,
.error:focus-within {
  border: 2px solid #e73434;
}

.camera {
  width: 22px;
  height: 22px;
  position: relative;
  background-image: url('/icons/camera.svg');
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.active {
  @apply font-gowunBold text-secondary-50 text-[18px];
}

.active::before {
  content: ''; /* 이미지를 가상 요소로 표시 */
  width: 20px;
  height: 20px;
  background-size: 20px;
  background-image: url('/favicon.png');
  display: inline-block;
  margin-right: 6px; /* 이미지와 텍스트 간격 조정 */
  vertical-align: bottom;
}

.clamp-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-clamp: 2; /* 2줄까지만 표시 */
}
input:disabled {
  background-color: #f0f0f0 !important;
  color: #666 !important;
  cursor: not-allowed;
}
