@import "@fortawesome/fontawesome-free/css/all.min.css"; 
@import "./assets/styles/fonts.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 기본적으로 HTML과 body에 적용 */
html,
body {
  font-family: "GowunBatang", sans-serif;
  margin: 0;
  padding: 0;
}